<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>视频车牌检测</title>
    <!-- 引入 Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>视频车牌检测</h1>
        {% if message %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endif %}
        {% for detected_video_path in detected_videos %}
            <video controls>
                <source src="{{ detected_video_path }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <br>
        {% endfor %}
    </div>
    <!-- 引入 Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>